*{
    font-family: cursive;
    font-size: 15px;
}
.container{
    background-color: #0000007e;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border-top: 2px solid black;
    margin: 10px;
}
header{
    text-align: center;
    height:10%;
    background-color: #4646464d;
    color: #eee;
    text-shadow: #f9f927 0 3px 2px; 
}
header h1{
    font-size: 20px;
    padding-top: 20px;
}   
body{
    background: url("images/batman.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.card{
    margin: auto;
    width: 20%;
    background-color: #fffdfd20;
    color: #eee;
    padding: 10px; 
    display: block;
    margin-top: 1%;
    text-align: center;
    /* transition: 10.5s ease; */
    box-sizing: content-box;
}
.card:hover{
    border-bottom: solid red 5px;
    box-shadow: 10px 10px 10px black;
    transform: scale(1.01);
}
.movie-text{
    padding: 18px;
}
.btn{
    width: 50%;
}
.nav-bar{
    width: 100%;
}
nav{
    background-color: #fcfafa92 ;
    padding-right: 7%;
    margin-top: 10px;
    float: right;
}

nav a{
    background-color: #fcfafa92 ;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    color:#000;
}

nav a:hover{
    color:red;
    text-shadow: #3306ff 0 2px;
}

.details{
    background-color: #060000b1;
    position: fixed;
    z-index: 1;
    width: 97%;
    margin-top: -7%;
    height: 90%;
    padding: 10px;
    border: 2px solid black;
    display: none;
}
.details-content{
    padding: 10px;
    width: 70%;
    background-color: #eee;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}
.movie-title{
    font-size: 20px;
    transition: 0.1s ease;
}
.movie-title:hover{
    color:red;
    text-shadow: #3306ff 0 5px;
}
.details-text{
    padding: 5px;
    display: block;
}
.grid-hide{
    display: none;
}
.details-button{
    font-weight: bolder;
    float:left;
    height: 7%;
    width: 6%;
    font-size: 12px;
    float: top;
    border: none;
}

.details button:hover{
    color:#eee;
    background-color: #000;
}
.search{
    padding: 2px;
    border: solid #000 2px;
}
span button{width:20%;margin:5px;border-radius: 10px;}
span button:hover{background-color: black;color:red;text-shadow: #3306ff 0 2px;}
.container{padding-top: 10px;}